/* ================= CSS Default ================= */
/* @font-face {
    font-family: "FontDemo_A";
    src: url('../fonts/FontDemo.ttf') format('truetype');
}

@font-face {
    font-family: "FontDemo_B";
    src: url('../fonts/FontDemo.ttf') format('truetype');
}

@font-face {
    font-family: "FontDemo_C";
    src: url('../fonts/FontDemo.ttf') format('truetype');
} */

:root {
    --light: #f7f8fa;
    --text: #747579;
    --title: #3f434c;
    --border: #c8c9cb;

    --green: #58b958;
    --white: #ffffff;

    --font: "FontDemo_A", Roboto, Arial, sans-serif;
    --font_b: "FontDemo_B", Roboto, Arial, sans-serif;
    --font_spec: "FontDemo_C", Roboto, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a,
img {
    transition: all 0.3s ease;
}

a:focus {
    outline: none;
}

a,
a:hover,
a:active,
a:link,
a:visited {
    text-decoration: none;
}

.padding0 {
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
    line-height: 1.25;
}

h1,
h2,
h3 {
    font-family: var(--font_spec);
}

h4,
h5,
h6 {
    font-family: var(--font_b);
}

b,
strong {
    font-family: var(--font_b);
    font-weight: normal;
}

body {
    font-family: var(--font);
    font-size: 14px;
}

p {
    line-height: 1.85;
    margin-bottom: 0;
}



/* ================= CSS Config (If you don't really need it, delete it) ================= */
.space_section {
    padding: 90px 0;
}



.space_article {
    padding: 30px 0;
}

h1 {
    font-size: 55px;
    margin-bottom: 25px;
}

h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    margin-bottom: 35px;
    font-weight: 600;
}

h4 {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 600;
}

h5 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 600;
}

h6 {
    font-size: 15px;
    font-weight: 600;
}

p {
    line-height: 1.8;
    font-size: 15px;
    font-weight: 300;
}

.container-fluid {
    height: 100vh;
}

.cursor-pointer {
    cursor: pointer;
}

hr {
    height: 2px !important;
    background: black !important;
    border-radius: 10px;
    border: none !important;
    opacity: unset !important;
}

.margin-top-form {
    margin-top: 4.5rem;
}

.gradient-background {
    background: linear-gradient(90deg, rgba(10, 10, 10, 0.5), rgba(100, 11, 26, 0.5), rgb(175, 34, 34), rgba(238, 69, 97, 0.5));
    border-top-left-radius: 20px;

}

.dropdown-menu {
    right: 0;
    /* Hiển thị dropdown menu sang phải */
    left: auto;
    /* Không hiển thị dropdown menu sang trái */
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Loại bỏ margin-bottom dư thừa */
    /* Đảm bảo form search nằm ở giữa trang */
}

.input-group {
    width: 300px;
    /* Độ rộng của form search */
}

/* Thiết lập icon tìm kiếm */
.input-group-prepend button {
    background-color: transparent;
    border: none;
}

/* Thiết lập style cho input */
.input-group input[type="search"] {
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow: none;
    font-size: 16px;
    margin-bottom: 0;
    /* Loại bỏ margin-bottom dư thừa */
}

/* Thiết lập style cho nút tìm kiếm */
.input-group button {
    border-radius: 20px;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

/* Thiết lập style cho nút tìm kiếm khi hover */
.input-group button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
}

.footer-container {
    display: flex;
}

.col-2 {
    flex: 2;
}

.col-6 {
    flex: 6;
}

.col-4 {
    flex: 4;
}

.logo {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.address {
    padding: 10px;
}

.customer-care {
    padding: 10px;
}

/* Header */

.dropdown-menu {
    right: 0;
    /* Hiển thị dropdown menu sang phải */
    left: auto;
    /* Không hiển thị dropdown menu sang trái */
}

/* Main */
.padding-left {
    padding-left: 40px;
}

.title {
    padding-top: 50px;
}

.bg-color {
    background-color: #45474b;
}

table {
    border-collapse: separate;
    border: solid white 1px;
    border-radius: 15px;
}

thead {
    border-radius: 15px 15px 0px 0px;
}

td,
th {
    border-left: solid white 1px;
    border-top: solid white 1px;
}

th {
    border-top: none;
}

td:first-child,
th:first-child {
    border-left: none;
}